<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Group Generator : Liste de groupes</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Group Generator</h1>
    <a href="/students">Etudiants</a>
    <a href="/groups">Groupes</a>
    <h2>Liste de groupes</h2>
    <form action="/" method="post">
        <input type="text" value="Veuillez écrire un nom">
        <input type="submit" value="Ajouter">
    </form>
</body>
</html>