<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Group Generator : Liste de groupes</title>
    <link rel="stylesheet" href="style.css" type="text/css" />
  </head>

  <body>
    <div class="container">
      <h1>Group Generator</h1>
      
      <div class="ancre">
        <a href="/students">Etudiants</a>
        <a href="/groups">Groupes</a>
      </div>
    </div>
    <div class="box">
      <h2>Liste de groupes</h2>
      <ul>
        <% groupe[0].forEach(element => { %>
          <li><%- element.name%></li>
      <% }); %>
      </ul>
      <form action="/groups" method="post">
        <label for="groupe"></label>
        <input type="text" name="grpName" placeholder="Nom du projet">
        <input type="number" name="nbrPersonnes" placeholder="Nombres des membres" />
        <input type="submit" value="Ajouter" />
      </form>
    </div>
  </body>
</html>
